.feedbackContainer {
    width: 80%;

    margin: 20px auto;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    font-family:monospace;
  }
  
  .card {
    border: 1px solid #ccc0c0;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    height: 120px;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .cardName {
    font-size: 24px;
    color: rgb(61, 8, 8);
    margin: 0 0 10px 0;
    text-align: center;
  }
  
  .cardFeedback {
    font-size: 16px;
    margin: 0;
    text-align: center;
  }
  
  .card:hover {
    transform: scale(1.05); /* Apply scaling effect on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
  }

  .heading {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    font-family:monospace;
    color: rgb(202, 15, 15);


  }

  @media only screen and (max-width: 480px){
    .feedbackContainer{
      grid-template-columns: repeat(1,1fr);
    }
  }